.header {
    background-color: tomato;
    height: 120px;
    float: left;
    padding: 20px 40px 40px 40px;
    width: 100%;
    position: fixed;
    top: 0;             /*ヘッダを上部に固定する*/
    z-index: 100;   /*ヘッダ要素を前面に固定する*/

    font-weight: bold;
}

.main {


}

h1 {
    padding-top: 40px;
}

.contents {
    height: 500px;
}

.section {
    border-bottom: 2px solid #000;
}

.item {
    float: left;
}

.container h1 {
    font-size: 140px;
}

.container h2 {
    font-size: 60px;
}

.container span {
    color: #ff4a4a;
}

.footer {
    background-color: #ceccf3;
    height: 270px;

}

li {
    list-style: none;
}

.header-logo {
    font-size: 36px;
    float: left;
    padding: 20px 40px 20px 40px;
}

.header-list li {
    float: right;
    padding: 33px 20px;
}

.footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.footer-logo {
    font-size: 32px;
    float: left;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 0px;
}

.footer-list ul {
    margin: auto;
}
